<div class="car-selection-container">
    <div class="car-cards-container">
      <div class="car-card" *ngFor="let car of cars" (click)="selectCar(car)" [class.selected]="selectedCar === car">
        <div class="car-photo">
          <img [src]="getVehicleImage(car.vehicleMake, car.vehicleModel)" alt="Car Photo">
        </div>
        <div class="vehicle-details">
          <div class="registration-number">{{ car.registrationNumber }}</div>
          <div class="vehicle-make">{{ car.vehicleMake }} {{ car.vehicleModel }}</div>
        </div>
      </div>
    </div>
  
    <div class="dialog-actions">
      <button (click)="closePopup()" mat-raised-button class="btn btn-red-2">Close</button>
      <div class="right-buttons">
        <button (click)="addNewCar()" mat-raised-button class="btn btn-green-1">Add New Car</button>
        <button (click)="bookParkingSpot()" 
                [disabled]="!selectedCar" 
                mat-raised-button 
                class="btn btn-green-1"
                [ngClass]="{'enabled': selectedCar, 'btn-disabled-2': !selectedCar}">
          Book Parking Spot
        </button>
      </div>
    </div>
  </div>