.car-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
}

.form-field {
  flex: 1 1 calc(50% - 15px);
  min-width: 200px;
}

.mat-form-field {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.add-book-buttons {
  display: flex;
  gap: 10px;
  
}
.add-car-button {
  background-color: green;
  color: white;
}

.add-car-button:hover {
  background-color: darkgreen;
}

.add-car-button.disabled {
  background-color: grey;
  color: lightgrey;
  cursor: not-allowed;
}

.close-popup-button {
  background-color: #ce213e;
  color: white;
}

.close-popup-button:hover {
  background-color: darkred;
}