.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 125px;
  overflow-y: auto;
}

.parking-spots-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  font-family: monospace;
  color: #838c94;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color:  #00b894;
}

.table-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
}

.mat-header-cell {
  background-color: #f8f9fa;
  color: #495057;
  font-weight: bold;
  font-size: 14px;
}

.mat-cell {
  font-size: 14px;
  color: #495057;
}

.actions-column {
  width: 200px;
  text-align: center;
}

.mat-paginator {
  border-top: 1px solid #e9ecef;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
    padding: 10px;
  }

  .actions-column {
    width: auto;
  }
}