<div class="header-container">
    <div *ngIf="!isLoggedIn">
    <button class="btn btn-green-2 login-button" mat-raised-button (click)="redirectToLogin()">Login</button>
    <button class="btn btn-brown register-button" mat-raised-button (click)="redirectToRegister()">Register</button>
    </div>
    <div *ngIf="isLoggedIn">
        <button class="btn btn-red-2 logout-button" mat-raised-button (click)="logout()">Logout</button>
        <button class="btn btn-green-2 my-account-button" mat-raised-button (click)="redirectToMyAccount()">My Account</button>
      </div>
    <div class="title">Parking System</div>
    </div>