h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.success-button {
    background-color: #00b894 !important;
    color: white !important;
    transition: all 0.3s ease;
    width: 140px;
    margin: 0 30px;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.cancel-button {
    background-color: #666 !important;
    color: white !important;
}
