.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f2f6f9;
}

.top-sector, .bottom-sector {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-sector .title {
    position: static;
}

.bottom-sector .title {
    position: static;
}
