<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="wrapper">
<div class="home-container">
    <div class="top-sector">
        <div class="title">Parked cars</div>
        <div class="car-cards-container">
            <div class="car-card" *ngFor="let parkedCar of parkedCars">
                <div class="car-photo">
                    <img [src]="getVehicleImage(parkedCar.vehicleMake)" alt="Car Photo">
                </div>
                <div class="vehicle-details">
                    <div class="vehicle-make">Make: {{ parkedCar.vehicleMake }}</div>
                    <div class="vehicle-model">Model: {{ parkedCar.vehicleModel }}</div>
                    <div class="registration-number">Registration: {{ parkedCar.registrationNumber }}</div>
                    <div class="parking-spot-number">Spot: {{ parkedCar.parkingSpotNumber }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-sector">
        <div class="title">Statistics</div>
        <div class="statistics-container">
            <div class="statistics-card">
                <div class="statistics-title"> Cars parked </div>
                <div class="statistics-details">
                    <div class="statistics-cars-parked"> {{ parkedCars.length }} </div>    
                </div>
            </div>
            <div class="statistics-card">
                <div class="statistics-title"> Available parking spots </div>
                <div class="statistics-details">
                    <div class="statistics-cars-parked"> {{ 30 - parkedCars.length }} </div>    
                </div>
            </div>
            <div class="statistics-card">
                <div class="statistics-title"> Parked cars by make </div>
                <div class="statistics-filter">
                    <mat-form-field class="small-select">
                      <mat-select class="select-car-filter" placeholder="Select Car Make" [(value)]="selectedCarMake" (selectionChange)="filterCarsByMake()">
                        <mat-option *ngFor="let make of carMakes" [value]="make">{{ make }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                <div class="statistics-details">
                    <div class="statistics-cars-parked-filtered"> {{ filteredCarCount }}</div>    
                </div>
            </div>
        </div>
    </div>
</div>
</div>